$font-main: "Poppins", sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$branco: #f0f0f0;
$cinza_medio: #9f9f9f;
$cinza_escuro: #3f3f40;
$roxo: #271c47;
$amarelo: #f7ca11;
$azul: #3442b5;
$background: #f6f6f6;
