@import "../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: #fff;
  width: 100%;
  padding: 63px 0 37px 0;
  max-width: 770px;
  position: relative;
  border-radius: 4px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: $cinza_escuro;
}

.body {
  display: flex;
  gap: 50px;
}

.imageSide {
  flex: 1;
  img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

.infoSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    color: $cinza_escuro;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .price {
    font-size: 24px;
    font-weight: 600;
    color: $cinza_escuro;
    margin-bottom: 15px;
  }

  .description {
    font-size: 10px;
    color: $cinza_medio;
    margin-bottom: 15px;
  }

  .details {
    font-size: 12px;
    color: $azul;
    text-decoration: none;
    margin-bottom: 25px;
  }
}

.quantityContainer {
  margin-bottom: 25px;
  display: flex;
  gap: 12px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  height: 36px;
  border: 1px solid $cinza_claro;
  border-radius: 4px;
  color: $roxo;

  button {
    background: none;
    border: none;
    font-size: 20px;
    color: $roxo;
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }

  span {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
}

.buyBtn {
  border: none;
  padding: 7px 58px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 188px;
}
