@import "../../styles/variables";

.footer {
  background-color: $cinza_claro;
  padding-top: 70px;
  color: $cinza_escuro;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px 60px;
  align-items: flex-start;
}

.branding {
  flex: 2;
  max-width: 350px;
  margin-right: 90px;

  .logo {
    height: 45px;
    margin-bottom: 25px;
  }

  .description {
    font-size: 14px;
    max-width: 320px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .social {
    display: flex;
    gap: 25px;
    font-size: 22px;
    color: $cinza_escuro;
    cursor: pointer;
  }
}

.divider {
  width: 1px;
  height: 200px;
  background-color: #2828282e;
  margin-right: 60px;
}

.navLinks {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.column {
  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $cinza_escuro;
  }

  ul {
    list-style: none;

    li {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px;
      color: $cinza_escuro;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bottom {
  padding: 25px 0;
  text-align: center;
  background-color: $branco;

  p {
    font-size: 12px;
    color: $cinza_escuro;
  }
}
